@font-face {
  font-family: 'JosefinSans';
  font-display: swap;
  src: url('../fonts/JosefinSans-Regular.woff2');
}
@font-face {
  font-family: 'JosefinSans';
  font-display: swap;
  src: url('../fonts/JosefinSans-Bold.woff2');
  font-weight: bold;
}
@font-face {
  font-family: 'NunitoSans';
  font-display: swap;
  src: url('../fonts/NunitoSans-Regular.woff2');
}
@font-face {
  font-family: 'NunitoSans';
  font-display: swap;
  src: url('../fonts/NunitoSans-Bold.woff2');
  font-weight: bold;
}

/* HTML Tags */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'NunitoSans', Arial, Helvetica, sans-serif;
  font-size: 16px;
}
h1 {
  font-family: 'JosefinSans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  padding: 0;
  margin: 0;
}
p {
  margin: 6px 0;
}
table {
  margin: 20px 0;
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 6px 12px;
}
tbody tr th:first-child,
tbody tr td:first-child {
  font-size: 12px;
  width: 40%;
}
tbody tr th:nth-child(2),
tbody tr td:nth-child(2) {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  width: 20%;
  background-color: rgba(229, 228, 226, 0.5);
}
tbody tr th:nth-child(3),
tbody tr td:nth-child(3) {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  width: 20%;
  background-color: rgba(255, 215, 0, 0.5);
}
tbody tr th:nth-child(4),
tbody tr td:nth-child(4) {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  width: 20%;
  background-color: rgba(192, 192, 192, 0.5);
}
tbody tr:nth-child(odd) {
  background-color: rgba(200,200,200,0.25);
}
tbody tr:nth-child(even) {
  background-color: rgba(240,240,240,0.25);
}
hr {
  border: 2px solid #222;
  margin: 0;
}

/* Wrapper */

.wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .wrapper {
    overflow: hidden;
    height: 100vh;
    display: grid;
    grid-template-columns: 325px 1fr;
    grid-template-rows: 80% 20%;
  }
  .main {
    grid-column: 2;
    grid-row: 1;
    height: 100vh;
    overflow-y: scroll;
  }
}

/* Buttons */

.btn,
.btn:visited {
  background-color: #F5B63F;
  text-transform: uppercase;
  color: #222 !important;
  padding: 8px 12px;
  font-size: 16px !important;
  font-weight: bold;
  text-decoration: none !important;
  display: flex;
  align-items: center;
  transition: 0.2s;
}
/* .btn:hover {
  background-color: rgb(255, 204, 108);
}
.btn::after {
  background: url('../images/arrow-point-to-right.svg') no-repeat center center;
  width: 10px;
  height: 15px;
  background-size: 10px 15px;
  content: '';
  margin-left: 8px;
} */
.btn.disabled {
  background: transparent;
  border: 1px solid #222;
  cursor: not-allowed;
}
/* .btn.disabled::after {
  background: none;
  width: 0;
  height: 0;
  margin-left: 0;
} */

/* Aside */

.aside {
  z-index: 1;
  background-color: #222;
  color: #dedede;
  font-family: 'JosefinSans', Arial, Helvetica, sans-serif;
  box-shadow: 0 0 6px #222;
}
.aside .aside-wrapper {
  display: flex;
  flex-direction: column;
  margin: 24px;
}
.aside a,
.aside a:visited {
  color: #F5B63F;
  text-decoration: none;
  border-bottom: 2px solid rgba(244, 180, 61, 0.3);
}
.aside a:hover {
  border-bottom: 2px solid rgba(244, 180, 61, 0.8);
}
.aside .aside-list {
  color: #F5B63F;
  list-style-type: none;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
}
.aside .aside-list li {
  margin-bottom: 3px;
}
.aside .aside-logo {
  position: relative;
}
.aside .aside-year {
  position: absolute;
  left: 215px;
  top: 75px;
  width: 110px;
}
.aside .aside-message {
  margin: 24px 0 12px 0;
  font-size: 22px;
  max-width: 200px;
}
.aside .aside-hashtag {
  color: #F5B63F;
  font-family: 'NunitoSans', Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.aside .aside-edition {
  position: absolute;
  left: 105px;
  top: 75px;
  font-weight: bold;
  font-size: 14px;
}
.aside .aside-location {
  border-top: 2px solid #dedede;
  border-bottom: 2px solid #dedede;
  padding: 10px 0;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aside .aside-lanave {
  margin-left: 15px;
  height: 36px;
}
.aside .aside-pointer {
  height: 36px;
  border: 0;
}
@media (min-width: 768px) {
  .aside .aside-top {
    grid-column: 1;
    grid-row: 1;
  }
  .aside .aside-bottom {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  } 
  .aside .aside-wrapper {
    position: relative;
    margin: 30px 40px;
  }
  .aside .aside-year {
    left: 195px;
    top: 55px;
  }
}

/* Aside logo transition */

.aside-logo .logo-yellow,
.aside-logo .logo-blue-1,
.aside-logo .logo-blue-2,
.aside-logo .logo-blue-3,
.aside-logo .logo-red-1,
.aside-logo .logo-red-2 {
  transition: 0.25s;
}
.aside-logo:hover .logo-yellow {
  fill: #fc0;
}
.aside-logo:hover .logo-blue-1 {
  fill: #96b9ff;
}
.aside-logo:hover .logo-blue-2 {
  fill: #69f;
}
.aside-logo:hover .logo-blue-3 {
  fill: #36c;
}
.aside-logo:hover .logo-red-1 {
  fill: #ff3b3b;
}
.aside-logo:hover .logo-red-2 {
  fill: #fd0000;
}

/* Alert */

.alert {
  background-color: #F5B63F;
  color: #222;
  padding: 12px 24px;
  font-weight: bold;
}
.alert a {
  color: #222;
  text-decoration: underline;
}

/* Section */

.section {
  padding: 60px 25px;
}
.section a,
.section a:visited {
  text-decoration: none;
  color: #bd7b00;
  border-bottom: 2px solid rgba(189, 123, 0, 0.3);
}
.section a:hover {
  border-bottom: 2px solid rgba(189, 123, 0, 0.8);
}
@media (min-width: 768px) {
  .section {
    padding: 60px;
  }
}
@media (min-width: 1100px) {
  .section {
    padding: 60px 80px;
  }
}

/* Intro */

.intro {
  position: relative;
}
.intro-pictures {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.intro-pictures img {
  width: 50%;
  height: auto;
}
.intro-logo {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.intro-logo img {
  position: absolute;
  bottom: -40px;
  right: 20px;
  padding: 15px;
  width: 80px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 6px #222;
}
@media (min-width: 768px) {
  .intro-logo img {
    width: 120px;
    padding: 20px;
    right: 60px;
  }
}
@media (min-width: 1100px) {
  .intro-pictures img {
    width: 25%;
  }
  .intro-logo img {
    right: 80px;
  }
}

/* Speakers */

.speaker-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.speaker {
  margin-bottom: 40px;
  width: 100%;
  background: #efefef;
}
.speaker-img {
  float: left;
  width: 150px;
  padding: 0 16px 8px 0;
}
.speaker-title {
  background: #222;
  color: #dedede;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 16px;
}
.speaker-sn {
  margin-top: 16px;
  display: flex;
}
.speaker-sn a {
  display: flex;
}
.speaker-sn a img {
  width: 32px;
  height: 32px;
}
.speaker-desc {
  font-size: 13px;
  padding: 20px;
}
@media (min-width: 632px) {
  .speaker {
    width: 48.5%;
  }
}
@media (min-width: 768px) {
  .speaker {
    width: 100%;
  }
}
@media (min-width: 1030px) {
  .speaker {
    width: 48.5%;
  }
}
@media (min-width: 1340px) {
  .speaker {
    width: 32%;
  }
}

/* Tickets */

.ticket-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ticket-wrapper {
  background-color: #fff;
  display: flex;
  width: 100%;
  margin: 12px 0;
}
.ticket-wrapper.inactive {
  opacity: 0.4;
}
.ticket-wrapper.active {
  background-color: #222;
  color: #dedede;
}
.ticket {
  margin: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ticket-title {
  display: flex;
  align-items: center;
}
.ticket-title img {
  margin-right: 16px;
  width: 40px;
}
.ticket-list {
  font-size: 14px;
  list-style: inside;
  padding-left: 10px;
}
.ticket-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.ticket-price {
  font-size: 36px;
  font-weight: bold;
}
@media (min-width: 600px) {
  .ticket-wrapper {
    width: 48%;
  }
}
@media (min-width: 768px) {
  .ticket-wrapper {
    width: 100%;
  }
}
@media (min-width: 1100px) {
  .ticket-wrapper {
    width: 48%;
  }
}
@media (min-width: 1340px) {
  .ticket-wrapper {
    width: 32%;
  }
}

/* Schedule */

.talk-separator {
  border-top: 3px solid #222;
  display: flex;
  background-color: #F5B63F;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.talk-separator-title {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.talk-row {
  margin-bottom: 50px;
  border-top: 3px solid #222;
}
.talk-time {
  display: flex;
}
.talk-time span {
  background-color: #222;
  color: #dedede;
  padding: 6px 12px;
  font-weight: bold;
  font-size: 14px;
}
.talk-time div {
  border: 2px solid #222;
  padding: 6px 12px;
  font-size: 14px;
}
.talk-list {
  padding-left: 15px;
  font-size: 14px;
  margin: 8px 0;
}
.talk-list li {
  margin: 4px 0;
  padding: 0;
}
.talk-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.talk-author img {
  height: 40px;
}
.talk-author div {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 12px;
}
.talk-desc {
  font-size: 14px;
}

/* Sponsors */

.sponsor-row {
  display: flex;
  flex-wrap: wrap;
}
.sponsor-platinum {
  background: white;
  width: 290px;
  max-width: 100%;
  height: 130px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 20px 10px 0;
}
.sponsor-platinum img {
  width: 85%;
}
.sponsor-gold {
  background: white;
  width: 260px;
  max-width: 100%;
  height: 110px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 20px 10px 0;
}
.sponsor-gold img {
  width: 80%;
}
.sponsor-gold .width-60 {
  width: 60%;
}
.sponsor-gold .width-85 {
  width: 85%;
}
.sponsor-silver {
  background: white;
  width: 230px;
  max-width: 100%;
  height: 90px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 20px 10px 0;
}
.sponsor-silver img {
  width: 80%;
}
.sponsor-inkind {
  background: white;
  width: 200px;
  max-width: 100%;
  height: 70px;
  border: 1px solid #dedede;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 20px 10px 0;
}
.sponsor-inkind img {
  width: 80%;
}
.sponsor-inkind .width-70 {
  width: 70%;
}

/* Main list */

.main-ul {
  margin: 0;
  padding: 0;
  padding-left: 36px;
}
.main-ul li {
  margin: 0;
  padding: 3px 0;
}

/* Founders list */

.list-founders {
  list-style-position: inside;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.list-founders li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Helpers */

.smaller-p {
  font-size: 14px;
}
.overflow-x {
  overflow-x: auto;
}
.bullet {
  padding: 0 8px;
}
.bg-dark {
  background: #fed;
}
.no-border {
  border: 0 !important;
}
