@font-face {
  font-family: 'JosefinSans';
  src: url('../fonts/JosefinSans-Regular.woff2');
}

@font-face {
  font-family: 'JosefinSans';
  src: url('../fonts/JosefinSans-Bold.woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.woff2');
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.woff2');
  font-weight: bold;
}


html {
  overflow: hidden;
}
body {
  margin: 0;
}
a,
a:visited {
  color: #F5B63F;
  text-decoration: none;
}
h1 {
  font-family: 'JosefinSans';
  font-weight: bold;
  font-size: 32px;
}

.wrapper {
  display: flex;
}

.content {
  height: 100vh;
  flex-grow: 1;
  font-family: 'OpenSans';
  font-size: 14px;
  overflow-y: scroll;
}
.content-wrapper {
  margin: 50px;
}
.content-ul {
  margin: 0;
  padding: 0;
  padding-left: 36px;
}
.content-ul li {
  margin: 0;
  padding: 0 0 8px 0;
}
.content-dates {
  font-size: 16px;
  font-weight: normal;
  display: flex;
  align-items: center;
}
.content-calendar {
  width: 60px;
  margin-right: 20px;
}
.content-text {
  margin: 20px 0 40px 0;
  display: flex;
  flex-direction: column;
}
.content .btn,
.content .btn:visited {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: #F5B63F;
  color: #222;
  text-decoration: none;
  border-radius: 9px;
  padding: 15px 15px;
  font-size: 20px;
  font-family: 'JosefinSans';
  font-weight: bold;
}
.content-arrow {
  height: 14px;
  margin-left: 10px;
}

.aside {
  background-color: #222;
  height: 100vh;
  min-width: 325px;
  color: #dedede;
  font-family: 'JosefinSans';
  box-shadow: 0 0 6px #222;
}

.aside-wrapper {
  height: calc(100% - 60px);
  margin: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.aside-list {
  list-style-type: none;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
}

.aside-year {
  position: absolute;
  left: -5px;
  top: 100px;
  width: 110px;
  margin-left: 200px;
  margin-top: -50px;
}
.aside-message {
  margin: 24px 0;
  font-size: 22px;
  max-width: 200px;
}
.aside-hashtag {
  color: #F5B63F;
  font-family: 'OpenSans';
  font-weight: bold;
}

.aside .logo-yellow,
.aside .logo-blue-1,
.aside .logo-blue-2,
.aside .logo-blue-3,
.aside .logo-red-1,
.aside .logo-red-2 {
  transition: 0.25s;
}

.aside:hover .logo-yellow {
  fill: #fc0;
}
.aside:hover .logo-blue-1 {
  fill: #96b9ff;
}
.aside:hover .logo-blue-2 {
  fill: #69f;
}
.aside:hover .logo-blue-3 {
  fill: #36c;
}
.aside:hover .logo-red-1 {
  fill: #ff3b3b;
}
.aside:hover .logo-red-2 {
  fill: #fd0000;
}